@charset "utf-8";
@viewport{width:device-width;}

body{color:#9b9b9b;background-color:#00a1d8;font:100%/1.5 "冬青黑体简体中文","微软雅黑",arial,sans-serif;}
form{color:#9b9b9b;text-align:left;}
	input, textarea, select{margin-bottom:20px;}
	button{color:#fff;background-color:#00a1d8;}
		button:disabled{background-color:#ccc;}
		button.btn-primary{background-color:#00a1d8;}
i.fa{text-align:left;font-size:36px;}
#header{background-color:#fff;text-align:center;}
	#header a{color:#08a4d9;}
	#toback{position:absolute;top:0;left:10px;}

body.home #maincontainer{padding:0;}

/* Order Page Group */
body.order{background-color:#f0f0f0;}

/* Order Page Group */
body.user{background-color:#f0f0f0;}
	body.user-login{background-color:#00a1d8;}
		body.user-login #content{color:#fff;}