@charset "utf-8";
@viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}

body{color:#6d6d72;background:#EFEFF4;font:100%/1.5 "华文细黑","微软雅黑",verdana,sans-serif;}
h1,h2,h3,h4{}
	a{color:#4cb5ff;}
		a:hover,a:active{color:#466096;}
	.container{font-size:14px;font-size:.875rem;width:95%;margin:0 auto;}